<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parte Perfil</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../resources/css/profesionPersona.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="right_Side">
      <div class="about">
        <h2 class="title2">Perfil</h2>
        <p id="perfilTexto"></p>
      </div>
      <!--Lugar de carga de la experiencia del usuario-->
      <div class="about" id="contenedorExperiencia">
        <h2 class="title2">Experiencia</h2>
      </div>
      <!--Lugar de carga de las herramientas software del usuario-->
      <div class="about skills" id="contenedorSoftware">
        <h2 class="title2">Experiencia software</h2>
      </div>
      <!--Lugar de carga de las aptitudes del usuario-->
      <div class="about interent">
        <h2 class="title2">Aptitudes</h2>
        <ul id="listaAptitud"></ul>
      </div>
    </div>
    <script
      type="text/javascript"
      src="../resources/js/mostrarDatosPerfil.js"
    ></script>
  </body>
</html>